*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --bg: #040D10;
    --white: #fff;
    --or: #ED8E00;
    --lightor: #F18128;
    
}
body{
    background: var(--bg);
    color:  var(--white);
}

