*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --bg: #040D10;
    --white: #fff;
    --or: #ED8E00;
    --lightor: #F18128;
    --CR: 'CR', sans-serif;
    --RM: 'RM', sans-serif;
    --RR: 'RR', sans-serif;
    --MB: 'MB', sans-serif;
    --MR: 'MR', sans-serif;
    --CB: 'CB', sans-serif;
    
}
body{
    background: var(--bg);
    color:  var(--white);
}
.container{
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;   
}
.btn{
    border: none;
    outline: none;
    font-family: var(--RM);
    background: var(--lightor);
    border-radius: 4px; 
    font-size: 14px;
    line-height: 12px;
    text-align: justify;
    color: #000000;
    padding: 17px 48px;
}
.btn:hover{
    background: var(--bg);
    color: var(--white);
    transition: 0.3s;
}