.films{
    position: relative;
    padding-bottom: 77px;
}
.films__wrap{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 30px;
}
.films__card{
    position: relative;  
    max-width: 255px;
    height: 366px;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    border-radius: 6px; 
}
.films__card-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.films__card-body{
    height: 100%;
    padding: 54px 15px 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;   
}
.films__card-body-icon{
    font-size: 46px;
    margin-bottom: 12px;
}
.films__card-body-time{
    font-family: var(--MR);
    font-size: 14px;
    line-height: 10px;
    color: var(--white);
    background: rgba(7, 15, 25, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 5px 27px;
    margin-bottom: 38px;
}
.films__card-body-title{
    font-family: var(--RM);
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.films__card-body-desc{
    font-family: var(--RR);
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@media screen and (max-width:992px){
        .films__wrap{
            flex-wrap: wrap;
        }
        .films__card{
            max-width: 320px;
        }
}
@media screen and (max-width:968px){
    .films__card{
        max-width: 255px;
    }
}

