@import url(../css/base.css);
@import url(../css/fonts.css);
@import url(../css/header.css);
@import url(../css/banner.css);
@import url(../css/films.css);
@import url(../css/trailer.css);
@import url(../css/collection.css);
@import url(../css/series.css);





.container{
    max-width: 1125px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
/* .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.top__nav{
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
}
.fa-film{
    font-size: 50px;
}
.top__nav-p{
    max-width: 166px;
    font-family: var(--CR);
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}
.navbar{
    position: static;
    top: 0;
    left: 0;
    background: rgba(1, 3, 5, 0.8);
    backdrop-filter: blur(7.5px);
    /* padding: 29px 0; */
}
.navbar__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-family: var(--CB);
    font-size: 18px;
    line-height: 20px;
    color: var(--white);
    text-transform: uppercase;
}
.logo__img{
    height: 42px;
}
.nabbar__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.navbar__list_item {
    padding: 40px 0;
}
.navbar__list_item a{
    position: relative;
    font-family: var(--RM);
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
}
.navbar__list_item a:hover{
    color: var(--or);
    transition: 0.3s;
}
.navbar__list_item a::after{
    content: "";
    position: absolute;
    top: 42px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: var(--or);
    border-radius: 15px 15px 0 0;
}
.navbar__list_item a:hover:after{
    width: 100%;
    transition: 0.3s;
}
